<ion-header>
  <ion-navbar color="primary"> <ion-title>New List</ion-title> </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header>Task list</ion-list-header>
    <ion-item>
      <ion-label floating>New item</ion-label>
      <ion-input type="text">New item</ion-input>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-item>
      <ion-label>Daenerys Targaryen</ion-label>
      <ion-checkbox color="primary" checked="false"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>Jon Snow</ion-label>
      <ion-checkbox color="primary" checked="false"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>Arya Stark</ion-label>
      <ion-checkbox color="primary" checked="false"></ion-checkbox>
    </ion-item>
  </ion-list>
</ion-content>
