<ion-header>
  <ion-navbar color="primary"> <ion-title>Todo</ion-title> </ion-navbar>
</ion-header>

<ion-content>
  <img src="../../assets/imgs/pendientes.jpg" />
  <ion-list>
    <ion-item-sliding *ngFor="let list of (tasks.lists | filterListsBy: false)">
      <button ion-item (click)="listSelected(list)">
        {{ list.title }}
        <ion-badge item-end>{{ list.items.length }} items</ion-badge>
      </button>
      <ion-item-options side="left">
        <button ion-button icon-only (click)="removeList(list.id)">
          <ion-icon name="close"></ion-icon>
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <ion-fab right bottom>
    <button ion-fab (click)="addNewList()"><ion-icon name="add"></ion-icon></button>
  </ion-fab>
</ion-content>
